#productDia1 {
  background-image: url('images/1.JPG');
}
#productDia2 {
  background-image: url('images/2.JPG');
}
#productDia3 {
  background-image: url('images/3.JPG');
}
#productDia4 {
  background-image: url('images/4.JPG');
}
#productDia5 {
  background-image: url('images/5.JPG');
}
#productDia6 {
  background-image: url('images/6.JPG');
}
#productDia7 {
  background-image: url('images/7.JPG');
}
#productDia8 {
  background-image: url('images/8.JPG');
}
#productDia9 {
  background-image: url('images/9.JPG');
}
#productDia10 {
  background-image: url('images/10.JPG');
}
#productDia11 {
  background-image: url('images/11.JPG');
}
#productDia12 {
  background-image: url('images/12.JPG');
}
#productDia13 {
  background-image: url('images/13.JPG');
}
#productDia14 {
  background-image: url('images/14.JPG');
}
#productDia15 {
  background-image: url('images/15.JPG');
}
#productDia16 {
  background-image: url('images/16.JPG');
}
#productDia17 {
  background-image: url('images/17.PNG');
}
#productDia18 {
  background-image: url('images/18.JPG');
}
#productDia19 {
  background-image: url('images/19.PNG');
}
#productDia20 {
  background-image: url('images/20.JPG');
}
