.product_container {
  margin-bottom: 25px;
  height: 370px;
  /*  border: 1px solid #e8e8e8;*/
}
.product_container .ant-card-body {
  padding: 0;
}
.product_contact {
  display: none;
  background: none;
  padding: 30px;
  color: white;
}
.product_contact .ant-btn-primary {
  color: #fff;
  background-color: #000000c9;
  border-color: #001529f0;
}
.show-desc .product_contact {
  display: block;
  background: #0000005e;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.product_contact button {
  position: absolute;
  /*  bottom: 15px;
  right: 15px;*/
  top: 43%;
  left: 35%;
}
.product_img {
  height: 400px;
}
.product_description div {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
}
.product {
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  border: none;
  /*  transform: rotate(-90deg);*/
}
#productEmerald1 {
  background-image: url('images/1.JPG');
}
#productEmerald2 {
  background-image: url('images/2.JPG');
}
#productEmerald3 {
  background-image: url('images/3.JPG');
}
#productEmerald4 {
  background-image: url('images/4.JPG');
}
#productEmerald5 {
  background-image: url('images/5.JPG');
}
#productEmerald6 {
  background-image: url('images/6.JPG');
}
#productEmerald7 {
  background-image: url('images/7.JPG');
}
#productEmerald8 {
  background-image: url('images/8.JPG');
}
#productEmerald9 {
  background-image: url('images/9.JPG');
}
#productEmerald10 {
  background-image: url('images/10.JPG');
}
#productEmerald11 {
  background-image: url('images/11.JPG');
}
#productEmerald12 {
  background-image: url('images/12.JPG');
}
#productEmerald13 {
  background-image: url('images/13.JPG');
}
#productEmerald14 {
  background-image: url('images/14.JPG');
}
