@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
$color-bg: #f8f8f8;
$card-padding: 20px;
$grid-gutter: 31px;

.container {
  margin: 0 50px;
}
.ap__navbar {
  position: relative;
  background: #fff;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99;
  margin-bottom: 0;
  height: 90px;
  padding: 10px 30px;
  border-bottom: 1px solid #cccccc85;
}
.ap__navbar__logo {
  position: relative;
  display:block;
}
.ap__navbar__nav {
  float: right;
  margin-top: 16px;
  border:none;
  &:hover {
    border : none;
    color: black !important;   
  }
  .ant-menu-item {

  }
  .ant-menu-submenu-selected,.ant-menu-submenu-active,.ant-menu-submenu-horizontal,.ant-menu-item-selected,.ant-menu-item-active {
    border : none;
    color: black;
    &:hover {
      border : none;
      color: black;   
    }
  }
}
.ap__bg {
  background: url('../../images/main_bg.jpg');
  width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}
.section__header {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0;
}
.product {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  &_container {
    margin-bottom: 25px;
    &--home {
      height:500px;
    }
  }
  &_img {
    height:auto;
    min-height:270px;
    width:100%;
  } 
  &_content {
    overflow:hidden;
  }
}
.product_img {
  
}
.product_container {
  margin-bottom: 25px;
  height:auto;
}
.product_container .ant-card-body{
  padding: 0;
}
.product_description {
  width: 100%;
  display: block;
  color: black;
  padding: 0;
  margin: 15px 0;
  bottom: 0;
}
.product_description .ant-btn-primary {
  color: #fff;
/*  background-color: #000000c9;
  border-color: #001529f0;*/
}
.show-desc .product_description {
  display: block;
/*  background-color: #0000005e;*/
}
.product div {
  height: 100%;
}
.product_description div{
  height: auto;
  font-size: 14px;
  margin-bottom: 5px;
}
.product1 {
  background-size: contain;
  height: 210px;
  background-repeat: no-repeat;
  background-image: url('../../images/rings/ring2.png');
  background-position: center;
}
.product2 {
  background-size: contain;
  height: 210px;
  background-repeat: no-repeat;
  background-image: url('../../images/rings/ring3.png');
  background-position: center;
}
.product3 {
  background-size: contain;
  height: 210px;
  background-repeat: no-repeat;
  background-image: url('../../images/rings/ring4.png');
  background-position: center;
}
.product4 {
  background-size: contain;
  height: 210px;
  background-repeat: no-repeat;
  background-image: url('../../images/rings/ring5.png');
  background-position: center;
}
.category {
  padding:1px;
}
.category-card {
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .5s;
  position: relative;
  flex: 1 1 100%;
  padding: $card-padding;
  span {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 15px;
    left: 20px;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
  &.productDiamondBeads{
    background-image: url('images/diamond_bead.jpg');
  }
  &.productEarrings{
    background-image: url('images/earring.jpg');
  }
  &.productRings{
    background-image: url('images/ring.jpg');
  }
  &.productBracelets{
    background-image: url('images/bracelet.jpg');
  }
  &.productEmeralds{
    background-image: url('images/emerald.jpg');
  }
}
.producty {
  background-size: contain;
  height: 400px;
  background-repeat: no-repeat;
  background-image: url('../../images/emerald.jpg');
  background-position: center;
}
.product_container {
  margin-bottom: 25px;
  height: 370px;
  transition: transform .5s;
  position: relative;
  flex: 1 1 100%;
  padding: $card-padding;
  padding: 0;
  span {
    color: white;
    font-size: 16px;
    position: absolute;
    background-color: #000000c9;
    border-color: #001529f0;
    padding:5px 15px;
    border-radius:3px;
    bottom: 15px;
    left: 20px;
  }
  .contact_span {
    border:none;
    background:none;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}
.zoomer {
  height:15px;
  width:15px;
  color:white;
}
#category{
  position: absolute;
  bottom: 45%;
  left: 45%;
  padding: 15px;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  &:hover {
    background: #ffffff78;
    cursor: pointer;
  }
}
.about {
  float: left;
  margin-right: 75px;
  margin-bottom: 30px;
  &_person {
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    background-position-y: -50px;
    margin-bottom:40px;
  }
  &_company {
    margin-top:75px;
    line-height:2;
    font-size:13px;
  }
  &_ankit {
    background-image: url('images/ankit.jpg');
  }
  &_daddy {
    background-image: url('images/daddy.jpg');
  }
}
.footer {
  background: #000000d6;
  padding: 25px;
  color: white;
  font-size: 12px;
  line-height: 2;
}