@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT");
.container {
  margin: 0 50px; }

.ap__navbar {
  position: relative;
  background: #fff;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99;
  margin-bottom: 0;
  height: 90px;
  padding: 10px 30px;
  border-bottom: 1px solid #cccccc85; }

.ap__navbar__logo {
  position: relative;
  display: block; }

.ap__navbar__nav {
  float: right;
  margin-top: 16px;
  border: none; }

.ap__bg {
  background: url("../../images/main_bg2.jpg");
  width: 100%;
  height: 400px;
  background-size: cover; }

.section__header {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0; }

.product {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px; }
  .product_container {
    margin-bottom: 25px; }
    .product_container--home {
      height: 500px; }
  .product_img {
    height: auto;
    min-height: 270px;
    width: 100%; }
  .product_content {
    overflow: hidden; }

.product_container {
  margin-bottom: 25px;
  height: auto; }

.product_container .ant-card-body {
  padding: 0; }

.product_description {
  width: 100%;
  display: block;
  color: black;
  padding: 0;
  margin: 15px 0;
  bottom: 0; }

.product_description .ant-btn-primary {
  color: #fff;
  /*  background-color: #000000c9;
  border-color: #001529f0;*/ }

.show-desc .product_description {
  display: block;
  /*  background-color: #0000005e;*/ }

.product div {
  height: 100%; }

.product_description div {
  height: auto;
  font-size: 14px;
  margin-bottom: 5px; }

.product1 {
  background-size: contain;
  height: 210px;
  background-repeat: no-repeat;
  background-image: url("../../images/rings/ring2.png");
  background-position: center; }

.product2 {
  background-size: contain;
  height: 210px;
  background-repeat: no-repeat;
  background-image: url("../../images/rings/ring3.png");
  background-position: center; }

.product3 {
  background-size: contain;
  height: 210px;
  background-repeat: no-repeat;
  background-image: url("../../images/rings/ring4.png");
  background-position: center; }

.product4 {
  background-size: contain;
  height: 210px;
  background-repeat: no-repeat;
  background-image: url("../../images/rings/ring5.png");
  background-position: center; }

.category-card {
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center; }
  .category-card.productDiamondBeads {
    background-image: url("images/diamond_bead.png"); }
  .category-card.productEarrings {
    background-image: url("images/earring.jpg"); }
  .category-card.productRings {
    background-image: url("images/ring.jpg"); }
  .category-card.productBracelets {
    background-image: url("images/bracelet.jpg"); }
  .category-card.productEmeralds {
    background-image: url("images/emerald.jpg"); }

.producty {
  background-size: contain;
  height: 400px;
  background-repeat: no-repeat;
  background-image: url("../../images/emerald.png");
  background-position: center; }

.product_container {
  margin-bottom: 25px;
  height: 370px; }

.zoomer {
  height: 15px;
  width: 15px;
  color: white; }
