.product_container {
  height: auto;
  margin: 30px 0;
}
.product_container .ant-card-body {
  padding: 0;
}
.product_contact {
  display: none;
  background: none;
  padding: 30px;
  color: white;
}
.product_contact .contact {
  color: #fff;
  background-color: #000000c9;
  border-color: #001529f0;
  position: absolute;
  height: 35px;
  top: 43%;
  left: 35%;
}
.show-desc .product_contact {
  display: block;
  background: #0000005e;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.product_hover {
  height: 400px;
}
.product_description {
  width: 100%;
  display: block;
  color: black;
  padding: 0;
  margin: 0;
  bottom: 0;
}
.product_description div {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #e8e8e8;
  border-top: 0;
  padding: 10px 0;
  background: #e8e3e3;
  opacity: 0.5;
}
.product {
  height: 270px !important;
  border: 1px solid #e8e8e8;
  border: 1px solid #e8e8e8 !important;
}

.hidden {
  display: none;
}
.overlayProduct {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  opacity: 1;
  z-index: 999;
  height: 100%;
  width: 100%;
}
.overlayProduct-info {
  float: left;
  width: 45%;
  padding: 0 5px;
  min-height: 80%;
}
.modal-img {
  height: 700px;
  width: 700px;
  margin: auto;
  position: relative;
}
.modal-img-tag {
  vertical-align: middle;
  border-style: none;
  margin: auto;
  width: 100%;
  height: 100%;
}
.overlay_contact {
  color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 200px;
  float: right;
  background-color: #000000c9;
  border-color: #001529f0;
}
.overlayProduct_spec {
  position: absolute;
  bottom: 0;
  width: 100%;
}
