.product_container {
  height: auto;
  margin: 30px 0;
}
.product_container .ant-card-body {
  padding: 0;
}
.product_contact {
  display: none;
  background: none;
  padding: 30px;
  color: white;
}
.product_contact .ant-btn-primary {
  color: #fff;
  background-color: #000000c9;
  border-color: #001529f0;
}
.show-desc .product_contact {
  display: block;
  background: #0000005e;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.product_contact button {
  position: absolute;
  /*  bottom: 15px;
  right: 15px;*/
  top: 43%;
  left: 35%;
}
.product_hover {
  height: 400px;
}
.product_description {
  width: 100%;
  display: block;
  color: black;
  padding: 0;
  margin: 0;
  bottom: 0;
}
.product_description div {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #e8e8e8;
  border-top: 0;
  padding: 10px 0;
  background: #e8e3e3;
  opacity: 0.5;
}
.product {
  height: 270px !important;
  border: 1px solid #e8e8e8;
  padding-bottom: 5px;
  border: 1px solid #e8e8e8 !important;
}

.hidden {
  display: none;
}
.overlayProduct {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  opacity: 1;
  z-index: 999;
  height: 100%;
  width: 100%;
}
.modal-img {
  height: 700px;
  width: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
